.veg{
    

    background-color: hotpink;
    text-align: center;
    
}

.fruits{
    background-color: pink;
    text-align: center;
}
.organic{
    color:aqua;
    text-align: center;
}